mat-stepper{
  //margin-top: 2em;
  background-color: rgb(250, 250, 250);
}
.signup{
  display: flex;
  justify-content: center;
  //height: 100vh;
  //align-content: center;
  align-items: center;
}
