<div class="welcome">
  <header>
    <h1>
      Moodle Université Paris-Cité
    </h1>
  </header>

  <div class="image">
    <img
      class="main-image"
      src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/sliderimage1/1700183652/group2_etudiants-ordinateur_HD-cut.jpg">
  </div>
  <div class="centered">
    <h4>
      Bienvenue sur la plateforme pédagogique
    </h4>
    <h4>
      Année 2023-2024
    </h4>
    <h5>
      MOODLE INACCESSIBLE le 01/02/2024 de 10H à 12H pour cause de maintenance.
    </h5>
  </div>
  <div class="info-cards">
    <div class="card">
      <div class="icon">
        <img
          class="small-image"
          src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/marketing1icon/1700183652/picto-teacher.svg">
      </div>
      <div class="info">
        <h3>Enseignants</h3>
        <ul>
          <li>
            <a href="https://u-paris.fr/activer-votre-compte-personnel-universite-paris-cite/"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Comment activer votre compte UPCité</a>
          </li>
          <li>
            <a href="https://u-paris.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=e6b438e4-fbe8-493d-bcb1-b04300a47095"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Accès aux tutoriels vidéos Moodle rentrée
              2023</a>
          </li>
        </ul>
        <p>
          Pour une inscription en tant qu'enseignant à un cours Moodle, adressez-vous à l'enseignant "Responsable
          Moodle" du cours.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <img
          class="small-image"
          src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/marketing2icon/1700183652/picto-student.svg">
      </div>
      <div class="info">
        <h3>Etudiants</h3>
        <ul>
          <li>
            <a href="https://u-paris.fr/activer-votre-compte-personnel-universite-paris-cite/"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Comment activer votre compte UPCité</a>
          </li>
          <li>
            <a href="https://u-paris.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=e6b438e4-fbe8-493d-bcb1-b04300a47095"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Accès aux tutoriels vidéos Moodle rentrée 2023
            </a>
          </li>
        </ul>
        <p>
          Pour toute question relative à votre cours Moodle, accès, contenu ou inscription, adressez-vous à votre
          scolarité.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <img
          class="small-image"
          src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/marketing3icon/1700183652/picto-tools3.svg">
      </div>
      <div class="info">
        <h3>Outils pédago-numériques</h3>
        <ul>
          <li>
            <a href="https://moodle.u-paris.fr/course/view.php?id=48304"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Aide Moodle</a>
          </li>
          <li>
            <a href="https://moodle.u-paris.fr/course/view.php?id=48304&section=9"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Ressources pédagogiques
            </a>
          </li>
        </ul>
        <p>
          Qu'est-ce que Moodle ? Comment accéder aux cours Moodle ? Se repérer dans l'espace cours, paramétrer le cours.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <img
          class="small-image"
          src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/marketing4icon/1700183652/picto-archives.svg">
      </div>
      <div class="info">
        <h3>Archives Moodle</h3>
        <ul>
          <li>
            <a href="https://moodle2022.u-paris.fr/login/index.php"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Année 2022-2023
            </a>
          </li>
          <li>
            <a href="https://moodle2021.u-paris.fr/login/index.php"
               rel="noreferrer noopener"
               target="_blank"
               title="Comment activer votre compte Université Paris Cité">Année 2021-2022
            </a>
          </li>
        </ul>
        <p>
        </p>
      </div>
    </div>
  </div>
</div>
