<div class="welcome">
  <div class="image">
    <img
      class="main-image"
      src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/sliderimage1/1700183652/group2_etudiants-ordinateur_HD-cut.jpg">
  </div>
  <div class="info-cards">
    <div class="card">
      <div class="icon">
        <img
          class="small-image"
          src="https://moodle.u-paris.fr/pluginfile.php/1/theme_moove/marketing1icon/1700183652/picto-teacher.svg">
      </div>
      <div class="info">
        <h3>Enseignants</h3>
        <ul>
          <li>
            <a href="https://u-paris.fr/activer-votre-compte-personnel-universite-paris-cite/" target="_blank" title="Comment activer votre compte Université Paris Cité" rel="noreferrer noopener">Comment activer votre compte UPCité</a>
          </li>
          <li>Feta</li>
        </ul>
        <p>
          Pour une inscription en tant qu'enseignant à un cours Moodle, adressez-vous à l'enseignant "Responsable Moodle" du cours.
        </p>
      </div>
    </div>
    <div class="card">
      <p>a</p>
    </div>
    <div class="card">
      <p>a</p>
    </div>
    <div class="card">
      <p>a</p>
    </div>
  </div>
</div>
